<h1> Recipe Finder </h1>

<%= form_tag search_path do%>
	<%= select_tag :ingredient_id, options_for_select(Ingredient.all.collect {|ingredient|[ingredient.name, ingredient.id]}) %>
	<%= submit_tag 'GO' %>

<p> Feel free to enter your ingredient(s) and we'll find you the recipes! </p>

<% end %>